/*.navbar{
    background-color: rgba(10, 38, 128, 1);
}
ul.navbar-nav{
    color: white;
}*/
/*.popover-title {
    background-color: rgb(209,139,139);
    color: white;
    font-size: 28px;
    text-align:center;
}
.popover-content {
    background-color: rgb(209,139,139);
    color: #FFFFFF;
    padding: 2px;
}*/
.help{
    color: rgba(150, 150, 150, 0.71);
}
